*,
*::before,
*::after {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  padding: 1.7rem 0 2rem;
  /* Top: 1.7 L&R: 0 Bot: 2 */
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo img {
  /* position: relative; */
  width: 100px;
  cursor: pointer;
}

.container {
  position: relative;
  /* background-color: red; */
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: white;
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: var(--lightTeal);
  transform: scale(1.05);
}

#menu-icon {
  display: none;
}

.showcase-area .container {
  display: grid;
  max-width: 81rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* justify-content: center; */
}

.big-title {
  font-size: 1.4rem;
  color: white;
  text-transform: capitalize;
  line-height: 1.4;
}

.showcase-area p {
  color: white;
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.second-section {
  color: var(--darkBlue);
  margin-top: 7vh;
  margin-bottom: 25vh;
}

.third-section .container,
.fourth-section .container {
  display: grid;
  max-width: 60rem;
  color: var(--darkBlue);
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 25vh;
}

.third-section .left {
  padding-left: 5vw;
}

.FAQ {
  margin-bottom: 7vh;
}

.blob {
  position: absolute;
  padding-bottom: 15%;
  min-width: 250px;
  width: 30%;
  transform: translate(30%, 0);
  z-index: 1;
}

.vector {
  position: relative;
  min-width: 200px;
  width: 40%;
  transform: translate(60%, 0);
  z-index: 2;
}

.top-wave {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.top-wave svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 75px;
}

.top-wave .shape-fill {
  fill: #000072;
}

.bottom-wave {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.bottom-wave svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 75px;
}

.bottom-wave .shape-fill {
  fill: #000072;
}

@media screen and (max-width: 675px) {
  .links ul {
    /* display: none; */
    position: fixed;
    top: 100%;
    right: 2%;
    width: 270px;
    height: 29vh;
    background-color: var(--lightTeal);
    color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  #menu-icon {
    display: block;
    font-size: 35px;
    color: var(--lightTeal);
  }

  .showcase-area .container {
    grid-template-columns: 1fr;
  }

  .vector {
    width: 50%;
    transform: none;
  }
}

.second-section .cards-wrapper {
  display: flex;
  justify-content: center;
}

.second-section .card img {
  max-width: 100%;
  max-height: 100%;
}

.second-section .card {
  margin: 0 0.5em;
  /* box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18); */
  border: none;
  max-width: 75%;
}

.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: var(--light2);
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
