.card {
  width: 20rem;
  padding: 8px;
  border-radius: 12px;
  transition: 0.3s;
}

/* .card:hover {
  box-shadow: 0px 0px 5px 1px var(--lightTeal);
} */

.logo:hover {
  color: var(--darkTeal);
  transition: 0.3s;
  transform: scale(1.01) !important;
}

.sidenav-content {
  position: fixed;
  border-top: 1px solid var(--lightTeal);
  left: 0rem;
  width: 4.75rem;
  background-color: var(--darkBlue);
  height: calc(100vh - 3.5rem);
}

/* Side nav design */
.sidenav-content {
  color: var(--lightTeal);
  /* width: 65px; */
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.nav-list {
  list-style: none;
  height: 100%;
  padding: 0%;
  margin-bottom: 0%;
}

.nav-list-item {
  display: grid;
  align-items: center;
  height: 70px;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
  /* border: 1px solid white; */
}

.nav-list-item:hover {
  background-color: rgba(0, 230, 194, 0.3);
  border-radius: 10px;
  transition: 0.3s;
}

.onActive,
.onActive:hover {
  background-color: var(--lightTeal);
  border-radius: 10px;
  color: var(--darkBlue);
}

.nav-list-item span {
  font-size: 30px;
}

.nav-list-item p {
  font-size: 12px;
  text-decoration: none;
  text-transform: capitalize;
}
/* Side nav end */

.navbar {
  height: 3.5rem;
}

.dropdown-item:hover {
  cursor: pointer;
}

.main-body {
  display: flex;
}

.selected-tab {
  margin-left: 4.75rem;
  width: 100vw;
}

.container {
  width: 75vw;
}
