<!-- Header Navbar -->
<nav class="navbar sticky-top blue-bg">
  <div class="container-fluid">
    <a href="/home" class="navbar-brand text-teal logo">Virtual Library</a>
    <div class="d-grid col-4 navbar-center">
    <form class="d-flex input-group" role="search">
      <input class="form-control" type="search" placeholder="Search books.." aria-label="Search">
      <span class="btn btn-teal" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 17 17">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </span>
    </form>
    </div>
    <div class="dropdown">
      <button class="button btn-outline-teal dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Username
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
        <li>
          <Label class="dropdown-item">asdsa</Label>
        </li>
        <li>
          <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#passwordModal">
            <span class="material-symbols-sharp">
          lock
          </span>&nbsp;&nbsp;Change password</a></li>
        <li><a class="dropdown-item" href="#"><span class="material-symbols-sharp">
          logout
          </span>&nbsp;&nbsp;Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="main-body">
  <!-- Side Navbar -->
  <div class="sidenav-content" >
    <ul class="nav-list">
      
        <li class="nav-list-item" *ngFor="let item of userSideNavItems" (click)="goTo(item.name)" [ngClass]="{'onActive': selectedMenu == item.name}">
            <!-- <i class="{{item.icon}}" *ngIf="selectedMenu!=item.name"></i> -->
            <span class="material-symbols-sharp">
              {{item.icon}}
            </span>
            <!-- <i class="{{item.activeIcon}}" *ngIf="selectedMenu==item.name"></i> -->
            <p>{{item.name}}</p>
        </li>
    </ul>
  </div>

  <div class="selected-tab">
    <div class="tab-content" *ngIf="selectedMenu=='Home'">
      <!-- Chips -->
      <div class="text-center p-3">
        <div class="chip">All Books</div>
        <div class="chip">Science</div>
        <div class="chip">Fiction</div>
        <div class="chip">Novel</div>
      </div>
      <!-- Body -->
      <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="card medium-bg d-grid gap-2 col-6 mx-auto" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Book 1</h5>
                <h6 class="card-subtitle mb-2 text-muted">Science</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card medium-bg d-grid gap-2 col-6 mx-auto" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Book 2</h5>
                <h6 class="card-subtitle mb-2 text-muted">Fiction</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card medium-bg d-grid gap-2 col-6 mx-auto" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Book 3</h5>
                <h6 class="card-subtitle mb-2 text-muted">Novel</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
              </div>
            </div>
        </div>
      </div>
      <div class="row"><br><br></div>
      <div class="row">
          <div class="col">
            <div class="card medium-bg d-grid gap-2 col-6 mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Book 4</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Philosophy</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card medium-bg d-grid gap-2 col-6 mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Book 5</h5>
                  <h6 class="card-subtitle mb-2 text-muted">History</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card medium-bg d-grid gap-2 col-6 mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Book 6</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Mathematics</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    
    <div class="tab-content" *ngIf="selectedMenu=='Continue'">
      <!-- Continue -->
      <object
        data='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf'
        type="application/pdf"
        width="100%"
        height="100%"
      >

        <!-- <iframe
          src='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf'
          width="500"
          height="678"
        >
        <p>This browser does not support PDF!</p>
        </iframe> -->
      </object>
    </div>


    <div class="tab-content" *ngIf="selectedMenu=='History'">
      <h1 class="text-center py-2 title">History</h1>
    </div>


    <div class="tab-content" *ngIf="selectedMenu=='Read later'">
      <h1 class="text-center py-2 title">Read later</h1>
    </div>


    <div class="tab-content" *ngIf="selectedMenu=='About'">
      <h1 class="text-center py-2 title">About</h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, excepturi maxime expedita veniam repudiandae non cumque sint accusantium temporibus et quo explicabo perferendis, beatae inventore doloremque asperiores molestias quos magnam.
        Hic, eligendi ipsa. Vitae voluptatibus ipsa sint ut quia inventore corporis molestiae reiciendis adipisci. Reiciendis sapiente itaque optio neque cupiditate eius, nostrum consequuntur dolor debitis! In ut expedita officiis eos.
      </p>
      <p class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde excepturi explicabo laboriosam eius officiis tenetur saepe impedit mollitia voluptatum soluta corporis, animi rerum modi accusamus. Itaque doloribus corrupti eaque voluptas!
        Minima ducimus in ipsum, saepe dolorum iste consectetur iusto harum sunt sed qui corrupti maxime temporibus unde veritatis atque fuga perspiciatis! Molestias modi laudantium labore odit nihil ad voluptatum cupiditate?
        Quae, commodi? Ut quo, commodi optio quaerat voluptates nobis dolorum natus repudiandae aut est maiores iusto error aliquam, nostrum eveniet tempore excepturi sint pariatur at expedita non voluptatem nam atque!
      </p>
      <p class="paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste culpa ut porro inventore animi omnis ipsam totam perferendis blanditiis rem alias deserunt, aliquid dolore facere ea. Incidunt deserunt maxime magni.
      </p>
    </div>
    

  </div>
</div>
 
<!-- Change password Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="width: 18rem;">
    <div class="modal-content">

      <div data-bs-theme="dark" class="card dark-bg text-white" >
        <div class="card-body">
          <div class="modal-header border-bottom-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <h4 class="card-title text-center">Change Password</h4>
          <br>
          <div>
            <form>
              <div class="mb-3">
                <input type="password" class="form-control text-white" id="exampleInputPassword1" placeholder="New password" required>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control text-white" id="exampleInputPassword2" placeholder="Confirm password" required>
              </div>
              <br>
              <div class="d-grid gap-2 col-6 mx-auto">
                <a routerLink="/home" class="btn btn-teal" type="button" data-bs-dismiss="modal">Change</a>
              </div>
            </form>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
