<div class="dark-bg">

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">User Dashboard</a>
      <div class="d-grid col-4 navbar-center">
      <form class="d-flex input-group" role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <span class="btn btn-teal" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 17 17">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
      </form>
    </div>
    </div>
  </nav>
  
<!-- <h1 class="text-center">User Dashboard</h1> -->
<br>
<div class="navbar-center">
  <div class="chip">All Books</div>
  <div class="chip">Science</div>
  <div class="chip">Fiction</div>
  <div class="chip">Novel</div>
</div>

<div><br><br></div>

<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card medium-bg d-grid gap-2 col-6 mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Book 1</h5>
              <h6 class="card-subtitle mb-2 text-muted">Science</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card medium-bg d-grid gap-2 col-6 mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Book 2</h5>
              <h6 class="card-subtitle mb-2 text-muted">Fiction</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card medium-bg d-grid gap-2 col-6 mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Book 3</h5>
              <h6 class="card-subtitle mb-2 text-muted">Novel</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
      </div>
    </div>
    <div class="row"><br><br></div>
    <div class="row">
        <div class="col">
          <div class="card medium-bg d-grid gap-2 col-6 mx-auto" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Book 4</h5>
                <h6 class="card-subtitle mb-2 text-muted">Philosophy</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card medium-bg d-grid gap-2 col-6 mx-auto" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Book 5</h5>
                <h6 class="card-subtitle mb-2 text-muted">History</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card medium-bg d-grid gap-2 col-6 mx-auto" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Book 6</h5>
                <h6 class="card-subtitle mb-2 text-muted">Mathematics</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
              </div>
            </div>
        </div>
      </div>
    
  </div>
</div>
