<div class="dark-bg">

    <h1 class="text-center">All Books</h1>

    <div class="container-fluid">
      <div class="d-grid col-4 navbar-center">
      <form class="d-flex input-group" role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <span class="btn btn-teal" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 17 17">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
      </form>
    </div>
    </div>
<br><br>
    <div class="d-grid gap-2 col-6 mx-auto">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author Name</th>
            <th scope="col">Year of Publication</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">BK1</th>
            <td>Aaa</td>
            <td>aaa@cognizant.com</td>
            <td>2018</td>
          </tr>
          <tr>
            <th scope="row">BK2</th>
            <td>Bbb</td>
            <td>bbb@cognizant.com</td>
            <td>2021</td>
          </tr>
          <tr>
            <th scope="row">BK3</th>
            <td>Ccc</td>
            <td>ccc@cognizant.com</td>
            <td>2015</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>